.calculator {
  max-width: 400px;
  margin: auto;
  border: solid 2px bisque;
}

.calculator__display * {
  /*border: solid 1px white;*/
  margin: 0;
  margin-right: 0.5rem;
}

.calculator__display {
  height: 2rem;
  border: var(--secondary-color) 2px solid;
  text-align: right;
  border-radius: 3px;
  padding: 5px
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
  padding: 10px;
}

.key--equal {
  grid-column: 4;
  grid-row-start: 2;
  grid-row-end: 6;
}