body{
    background-color: black;
    color: bisque;
}

td, th{
    
    text-align: center;
}

h3,h2,h1{
    margin: auto;
    width: 400px;
    text-align: center;
}
p{
    padding-left: 15px;
}

form{
    margin: auto;
    width: 400px;
}

button{
    text-align: center;
    width: auto;
}


a, nav{
    color:brown;
    text-decoration: none;
    text-align: center;
}

div{
    text-align: center;
}

table{
    border: 2px solid bisque;
}

.calculator {
    width: 200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
}


@media (min-width: 576px) {
ul{
    padding-left: 15px;
}
}