body{
    background-color: black;
}

h1,h2{
    color:bisque;
    text-align: center;
}

p{
    color:bisque;
}

a, nav{
    color:blueviolet;
    text-decoration: none;
    text-align: center;
}

div{
    text-align: center;
}