body{
    background-color: black;
    color: bisque;
}

td, th{
    
    text-align: center;
}

h3,h2,h1{
    margin: auto;
    width: 400px;
    text-align: center;
}
p{
    padding-left: 100px;
}

#introfizz{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: 30px;
    
}

#fizzbuzzcontent{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: 20px;

}

form{
    margin: auto;
    width: 400px;
}

button{
   align-items: center;
    width: auto;
}


a, nav{
    color:brown;
    text-decoration: none;
    text-align: center;
}

a:link{
    color: brown;
}



a:hover{
    color: bisque;
}

a:active{
    color: blue;
}

div{
    text-align: center;
}

table{
    border: 2px solid bisque;
    align-items: center;
}

.calculator {
    width: 200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 50px;
    height: 30px;
    margin: 5px;
    font-size: 10px;
    align-items: center;
}

.calculator_keys button{
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 10px;
}


@media (min-width: 576px) {
ul{
    padding-left: 15px;
}
}