<header>
    <h1>Kyle Sparks, II || Kooky Sloths || ITIS 3135</h1> 
    <nav>
        <a href="W3BP@_ GE.html">Crappy Design</a>
    </nav>
    <br>
    <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introdution</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="tables.html">HTML Tables</a>
            ||
            <a href="forms.html">Forms</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="https://webpages.charlotte.edu/kspark12/">To My UNCC Home</a>
            ||
            <a href="firstscripts.html">First Scripts</a>
    </nav>
</header>